* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --cor-primaria: #000000;
   --cor-texto: #ffffff;
   --cor-destaque: rgb(15, 128, 0);
   --cor-destaque-escuro: darkgreen;
}

body {
    color: var(--cor-texto);
    background-color: var(--cor-primaria);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    font-weight: bold;
}

a {
    color: var(--cor-texto);
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    border: 2px solid var(--cor-destaque-escuro);
    object-fit: cover; 
}

.center {
    text-align: center;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: var(--cor-destaque);
}

.return-button {
    text-align: center; 
    margin: 40px 0; 
}

.button {
    display: inline-block; 
    padding: 10px 20px;
    background-color: var(--cor-destaque); 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: var(--cor-destaque-escuro); 
    color: white;
}