<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
    <nav class="container">
        <ul>
            <li><a href="Sobre_mim.html" data-key="navAbout">Sobre Mim</a></li> <li><a href="../index.html#projetos" data-key="navProjects">Projetos</a></li>
            <li><a href="Sobre_mim.html" data-key="navContact">Contato</a></li>
            
            <li>
                <button id="lang-toggle">EN</button> 

                <div class="theme-toggle-container">
                    <input type="checkbox" id="checkbox" class="theme-checkbox" />
                    <label for="checkbox" class="theme-toggle-label">
                        <svg class="icon icon-moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                        </svg>
                        <svg class="icon icon-sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="5"></circle>
                            <line x1="12" y1="1" x2="12" y2="3"></line>
                            <line x1="12" y1="21" x2="12" y2="23"></line>
                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                            <line x1="1" y1="12" x2="3" y2="12"></line>
                            <line x1="21" y1="12" x2="23" y2="12"></line>
                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                        </svg>
                    </label>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container">
        
        <main>
    <div class="container">
        <main>
            <section>
                <h1 data-key="contactTitle">Entre em Contato</h1>
                <p data-key="contactIntro">
                    Estou sempre aberto a novas conexões e oportunidades. Sinta-se à vontade 
                    para me procurar através dos canais abaixo:
                </p>
                
                <h2 data-key="contactMeans">Meios de Comunicação:</h2>
                <ul>
                    <li><span data-key="contactEmail">E-mail</span>: <a href="email_de_trabalho">colocodepoi@agrn.com</a></li> 
                    <li><span data-key="contactPhone">Numero</span>: (83) xxxxx-xxxx</li>
                </ul>
                
                </section>
                <main>
            <section class="return-button"> 
                <a href="../index.html" class="button" data-key="returnHome">Retornar à Página Inicial</a>
            </section> 
        </main>
        </main>

    </div>

    <script src="../js/script.js"></script>
</body>
</html>