<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
    <div class="container">
        <main>
            <section>
                <h1 data-key="contactTitle">Entre em Contato</h1>
                <p data-key="contactIntro">
                    Estou sempre aberto a novas conexões e oportunidades. Sinta-se à vontade 
                    para me procurar através dos canais abaixo:
                </p>
                
                <h2 data-key="contactMeans">Meios de Comunicação:</h2>
                <ul>
                    <li><span data-key="contactEmail">E-mail</span>: <a href="email_de_trabalho">colocodepoi@agrn.com</a></li> 
                    <li><span data-key="contactPhone">Numero</span>: (83) xxxxx-xxxx</li>
                </ul>
                
                </section>
                <main>
            <section class="return-button"> 
                <a href="../index.html" class="button" data-key="returnHome">Retornar à Página Inicial</a>
            </section> 
        </main>
        </main>

    </div>

    <script src="../js/script.js"></script>
</body>
</html>