<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
    <div class="container">
        <main>
            <section>
                <h1>Entre em Contato</h1>
                <p>
                    Estou sempre aberto a novas conexões e oportunidades. Sinta-se à vontade 
                    para me procurar através dos canais abaixo:
                </p>
                
                <h2>Meios de Comunicação:</h2>
                <ul>
                    <li>E-mail: <a href="email_de_trabalho">colocodepoi@agrn.com</a></li> 
                    
                    <li>Numero: (83) xxxxx-xxxx</li>
                </ul>
                
                </section>
                <main>
            <section class="return-button"> 
                <a href="../index.html" class="button">Retornar à Página Inicial</a>
            </section> 
        </main>
        </main>

    </div>
</body>
</html>